In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('car_price_prediction.csv')

In [21]:
# Display the first few rows
print(df.head())

# Display dataset dimensions
print(df.shape)  # (rows, columns)

# List column names
print(df.columns)

         ID  Price  Levy Manufacturer    Model  Prod. year   Category  \
0  45654403  13328  1399        LEXUS   RX 450        2010       Jeep
1  44731507  16621  1018    CHEVROLET  Equinox        2011       Jeep
2  45774419   8467     -        HONDA      FIT        2006  Hatchback
3  45769185   3607   862         FORD   Escape        2011       Jeep
4  45809263  11726   446        HONDA      FIT        2014  Hatchback

  Leather interior Fuel type Engine volume    Mileage  Cylinders  \
0              Yes    Hybrid           3.5  186005 km        6.0
1               No    Petrol             3  192000 km        6.0
2               No    Petrol           1.3  200000 km        4.0
3              Yes    Hybrid           2.5  168966 km        4.0
4              Yes    Petrol           1.3   91901 km        4.0

  Gear box type Drive wheels   Doors             Wheel   Color  Airbags
0     Automatic          4x4  04-May        Left wheel  Silver       12
1     Tiptronic          4x4  04-May        Left wheel   Black        8
2      Variator        Front  04-May  Right-hand drive   Black        2
3     Automatic          4x4  04-May        Left wheel   White        0
4     Automatic        Front  04-May        Left wheel  Silver        4
(19237, 18)
Index(['ID', 'Price', 'Levy', 'Manufacturer', 'Model', 'Prod. year',
       'Category', 'Leather interior', 'Fuel type', 'Engine volume', 'Mileage',
       'Cylinders', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color',
       'Airbags'],
      dtype='object')

In [22]:
# Count missing values in each column
print(df.isnull().sum())

# Check for missing values as a percentage
print(df.isnull().mean() * 100)

ID                  0
Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64
ID                  0.0
Price               0.0
Levy                0.0
Manufacturer        0.0
Model               0.0
Prod. year          0.0
Category            0.0
Leather interior    0.0
Fuel type           0.0
Engine volume       0.0
Mileage             0.0
Cylinders           0.0
Gear box type       0.0
Drive wheels        0.0
Doors               0.0
Wheel               0.0
Color               0.0
Airbags             0.0
dtype: float64

In [23]:
# Data type and memory usage information
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  object
 11  Cylinders         19237 non-null  float64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 2.6+ MB
None

In [24]:
# Check if there are any duplicate rows
print(df.duplicated().sum())

313

In [25]:
df = df.drop_duplicates()

In [26]:
print(df.duplicated().sum())

0

In [27]:
# Attempt to convert the 'Levy' column to numbers
df['Levy_num'] = pd.to_numeric(df['Levy'], errors='coerce')

# Find non-numeric values
non_numeric_values = df[df['Levy_num'].isna()]

# Print non-numeric values
if not non_numeric_values.empty:
    print("Non-numeric values in 'Levy' column:")
    print(non_numeric_values['Levy'])
else:
    print("All values in 'Levy' column are numbers.")

Non-numeric values in 'Levy' column:
2        -
9        -
11       -
12       -
23       -
        ..
19223    -
19224    -
19226    -
19229    -
19232    -
Name: Levy, Length: 5709, dtype: object

In [ ]:
# df = df.drop('Levy', axis=1)
df['Levy'] = df['Levy'].replace('-', 0)

In [29]:
average_price = df['Price'].dropna().mean()
average_price

np.float64(18587.435267385332)